.title {
    font-family: goudy stout;
 }
.header {
    height: 79.2px;
    display: flex;

}

.menu_bar {
    height: 79.2px;
    
    
    background-image: linear-gradient(to bottom, #90e0ef, #ade8f4, #caf0f8, #d5eef3 );
    color: white;
    display: flex;
}
.logo {
    background-color:transparent;
    color: black;
    font-size: 50px;
    font-family: "times new roman";
    display: flex;
    align-items: center;
    padding: 4px;
    height: 70px;
    width: 305px;
    margin-left: 40px;
    margin-top: 0.2px;
    margin-bottom: 0.2px;
   
}


.account {
    margin-left: 65%;
    margin-right: 2px;
    margin-top: 6px;
    text-align: center;
    background-color: transparent;
    display: flex;
    width: 250px;
    height: 45px;
    padding-top:15px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 5px;
    font-family: "Bradley Hand ITC";
    color: black;
    font-size: 22px;

}

.account a {
    text-decoration: none;
    color: #04471c
    
}

.account a:hover {
    text-decoration: underline;
}
/* header section closed */

.hero_sec {
background-image: url("images/hero.png");

background-image: linear-gradient(to bottom, #90e0ef, #ade8f4, #caf0f8, #d5eef3 );
height: 500px;
width: 100%;

}
